@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
@import url('https://fonts.googleapis.com/css?family=Adamina&display=swap');
* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
/*--------------------------------------Home----------------------------------*/
a {
  text-decoration: none;
}

.App {
  background-color: #000000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.4fr 1fr;
      grid-template-columns: 1fr 1.4fr 1fr;
      grid-template-areas: "left logo right";
  width: 100vw;
  height: 100vh;
}

.break {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-row: 3;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: break;
  height: 69px;
}

.contact {
  font-family: 'Adamina', serif;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-row: 4;
  grid-column: 2;
  grid-area: contact;
  margin-left: 243px;
  width: 27%;
}

.head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  margin: auto;
}

.head img {
  min-height: 300px;
  min-width: 600px;
}

.j {
  display: table;
  margin: 0 auto;
}

.left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  grid-area: left;
}

.logo {
  margin-top: 125px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-row: 1;
  grid-column: 2;
  grid-area: logo;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "head head"
 "sub sub"
 "break break"
 "menu contact";
}

.logo p {
  color: white;
  font-size: 125%;
  /* height: 100%; */
  border-left: 2px solid #DF3A29;
  left: 15%;
  padding-left: .25em;
}

.menu {
  font-family: 'Adamina', serif;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-row: 4;
  grid-column: 1;
  grid-area: menu;
  display: table;
  margin-left: 35px;
}

.right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-row: 1;
  grid-column: 3;
  grid-area: right;
}

.sub-heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-row: 2;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: sub;
  margin-left: auto;
  margin-right: auto;
}

.sub-heading span {
  font-family: 'Adamina', serif;
  font-size: 20pt;
  color: white;
}

.v1 {
  height: 100%;
  width: 2px;
  background-color: #DF3A29;
  margin: auto;
}

.v2 {
  height: 100%;
  width: 2px;
  background-color: #DF3A29;
  margin: auto;
}

/*----------------------------------------------------------------------------*/
/*-----------------------------------Contact----------------------------------*/
.contact-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.1fr;
      grid-template-columns: 1fr 2.1fr;
  -ms-grid-rows: 1fr 1.59fr 6.8fr;
      grid-template-rows: 1fr 1.59fr 6.8fr;
      grid-template-areas: "panel nav"
 "panel map"
 "detail map";
}

.panel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  grid-area: panel;
  background: black;
}

.panel img {
  height: 27vh;
  position: relative;
  top: 5%;
  left: 5%
}

.detail {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-row: 3;
  grid-column: 1;
  grid-area: detail;
  background: black;
  color: white;
  height: 72.4vh;
}

.detail p {
  color: white;
  font-size: 115%;
  font-family: 'Adamina', serif;
  word-spacing: 110%;
  border-left: 2px solid #DF3A29;
  left: 15%;
  line-height: 1.5em;
  margin-left: 2.55em;
  padding-left: .25em;
  
}

.top{
  margin-top: 7%
}
.inner-top{
  margin-top: 2em;
}
.lower-top{
  margin-top: 4em;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-row: 1;
  grid-column: 2;
  grid-area: nav;
  background: black;
  align-items: center;
  display: flex;
}

.nav a {
  text-decoration: none;
  font-family: 'Adamina', serif;
  color: white;
  float: right;
  border-left: 2px solid #DF3A29;
  font-size: 125%;
  padding-left: .25em;
}

.food {
  position: relative;
  left: 75%;
  
}

.cont {
  position: relative;
  left: 80%;
}

.map {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-row: 2;
  grid-column: 2;
  grid-area: map;
  /* height: 100vh; */
  display: flex;
  overflow: hidden;
  background: none !important;
  height: 100%;
}

/*----------------------------------------------------------------------------*/
/*------------------------------------Menu------------------------------------*/
.menu-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.1fr;
      grid-template-columns: 1fr 2.1fr;
  -ms-grid-rows: 1fr 1.59fr 6.8fr;
      grid-template-rows: 1fr 1.59fr 6.8fr;
      grid-template-areas: "panel nav"
                           "panel items"
                           "catagories items";
}
.catagories{
  grid-area: catagories;
  background: #4F4F4F;
  height: 72.4vh;
  overflow-y: scroll;
}
.catagory-cards{
  background: #DF3A29;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  border-radius: 5px;
  height: 15%;
  margin: 4% 0 2% 4.5%;
  cursor: pointer;
}
.text
{
  font-size: 226.5%;
  display: table;
  padding-top: 3.5%;
  margin: 0 auto;
}
.items{
  grid-area: items;
  background: #333333;
  overflow-y: scroll;
  height: 89.4vh;
  
}
.index-cards{
  background: #B4AEAE;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 14.75vw;
  border-radius: 5px;
  
  
  margin: 4% 0 2% 4.5%;
}
.aa{
  display: flex;
}

.index-cards img{
  height: 234px;
}
/*----------------------------------------------------------------------------*/
/*# sourceMappingURL=main.css.map */