@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
*{
  margin: 0;
  padding: 0;
}

/*--------------------------------------Home----------------------------------*/
a{
  text-decoration: none;
}

.App{
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  grid-template-areas: "left logo right";
  width: 100vw;
}

.break{
  grid-area: break;
  height: 69px;
}

.contact{
  font-family: 'Libre Baskerville', serif;
  grid-area: contact;
  margin-left: 243px;
  width: 78.233px;
}

.head{
  grid-area: head;
  margin: auto;

  img{
    min-height: 300px;
    min-width: 600px;
  }
}

.j{
  display: table;
  margin: 0 auto;
}

.left{
  grid-area: left;
}

.logo{
  margin-top: 125px;
  grid-area: logo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
                        "head head"
                        "sub sub"
                        "break break"
                        "menu contact";

  p {
    color: white;
    font-size: large;
    /* height: 100%; */
    border-left: 2px solid #DF3A29;
    left: 15%;
  }
}



.menu{
  font-family: 'Libre Baskerville', serif;
  grid-area: menu;
  display: table;
  margin-left: 35px;
}

.right{
  grid-area: right;
}

.sub-heading{
  grid-area: sub;
  margin-left: auto;
  margin-right: auto;

  span{
    font-family: 'Libre Baskerville', serif;
    font-size: 20pt;
    color: white;
  }
}


.v1{
  height: 100vh;
  width: 2px;
  background-color: #DF3A29;
  margin: auto;
}

.v2{
  height: 100vh;
  width: 2px;
  background-color: #DF3A29;
  margin: auto;
}
/*----------------------------------------------------------------------------*/
/*-----------------------------------Contact----------------------------------*/
.contact-page{
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  grid-template-rows: 1fr 2fr 10fr;
  grid-template-areas: 
                        "panel nav"
                        "panel map"
                        "detail map";
}

.panel{
  grid-area: panel;
  background: black;
  
  img{
    height: 75%;
  }
}
.detail{
  grid-area: detail;
  background: black;
  color: white;
  height: 100vh;
  p {
    color: white;
    font-size: large;
    /* height: 100%; */
    border-left: 2px solid #DF3A29;
    left: 15%;
  }
}
.nav{
  grid-area: nav;
  background: black;
  position: relative;

  a{
    text-decoration: none;
    color: white;
    float: right;
  }
  .food{
    padding: auto;
    
  }

  .cont{
    padding: auto;
  }
}
.map{
  grid-area: map;
  height: 100vh;
}
.mapouter{
  position:relative;
  text-align:right;
      height:604 px;
      width:721 px;
}
.gmap_canvas {
    overflow:hidden;
    background:none !important;
    height:604px;
    width:721px;
  }
/*----------------------------------------------------------------------------*/





